*{
    margin: 0;
    padding: 0;
 
}

.task-container{
    width: 400px;
    height: 150px;
    border-radius: 10px;

    position: relative;
    padding: 25px 10px;
    margin: 20px;
}
.task-title{
    font-size: 35px;
    font-weight: bold;
    color: bisque;
    margin-top: 10px;

    
}
.discription{
    font-size: 20px;
    font-weight: 300;
    color: rgb(211, 239, 230);
    margin: 10px 0;
}
.date{
    position: absolute;
    top: 9px;
  left: 247px;
  font-size: 18px;
  font-style: italic;
  color: wheat;
}
.singnature{
    font-size: 25px;
    font-style: italic;
    color: blanchedalmond;
    position: absolute;


}
.trashcontainer{
    position: absolute;
    bottom: 7px;
    right: 7px;
}
.editcontaine{
    position: absolute;
    bottom: 7px;
    right: 45px;

}
.trash{
    font-size: 25px;
    color: white;
    cursor: pointer;
}