
.main-container{
    width: 100vw;
    display: flex;
}
.leftpart{
    width: 50%;
    height: auto;
    background-color: rgb(239, 209, 214);
}
.rightpart{
    width: 50%;
    height: auto;
    background-color: rgb(190, 224, 140);
}
.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.input-field input{
    width: 300px;
    
    background-color: rgb(65, 49, 49);
    border-radius: 20px;
    color: bisque;
    border: none;
    font-size: 20px;
    padding:10px 15px ;
    margin: 20px 0;
}
.btn{
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    background-color: darkblue;
    padding: auto;
    border-radius: 30px;
    font-size: 20px;
    display: block;
    margin: 10px auto;
}

