*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(250, 238, 233);
}
.main-container{
    width: 100vw;
    display: flex;
 flex-direction: row;

}
.main-heading{
    font-size: 60px;
    color: rgb(65, 49, 49) ;
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
}
.leftpart{
    width: 50%;
  
    /* background-color: rgb(239, 209, 214); */
    display:flex;
    flex-direction: column;
  align-items: center;
  
}
.task{
   margin-top: auto;
    width: 100%;
    height: 80vh;
    /* background-color: pink; */
    
   
 
    overflow: scroll;
    
   
}
.task::-webkit-scrollbar { 
    width: 5px; 
  }
.rightpart{
    width: 50%;
    height: auto;
    /* background-color: rgb(190, 224, 140); */
    padding: 100px;
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.input-field input{
    width: 300px;
    
    background-color: rgb(65, 49, 49);
    border-radius: 20px;
    color: bisque;
    border: none;
    font-size: 20px;
    padding:10px 15px ;
    margin: 20px 0;
}
.text-area{
    width: 300px;
    
    background-color: rgb(65, 49, 49);
    border-radius: 20px;
    color: bisque;
    border: none;
    font-size: 22px;
    padding:10px 15px ;
    margin: 20px 0;
}
.btn{
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(65, 49, 49);
    padding: auto;
    border-radius: 30px;
    font-size: 20px;
    display: block;
    margin: 10px auto;
}

.heading{
    text-align: center;
    font-size: 50px;
   color: rgb(65, 49, 49);
   cursor: pointer;
}
